@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');

/* #909CC2 -Ceil
#747E9E -Light Slate Gray
#084887 -Dark Cerulean
#F58A07 -Tangerine
#232528 -Dark Gunmetal
#464342 -Gunmetal
#EAF6FF -Alice Blue */

/* Space out content a bit */
body {
  /* padding-top: 20px; */
  padding-bottom: 20px;
  background: #232528;
  color: #EAF6FF;
  font-size: 20px;
}

a {
  color: #909CC2;
  transition: color 1s;
}
a:hover {
  color: #c1c8dd;
}

.navbar a.navbar-brand {
  font-family: 'Montserrat Subrayada', sans-serif;
}

h2 {
  /* border-top: 4px solid #F58A07; */
  display: inline-block;
  font-family: 'Montserrat Subrayada', sans-serif;
  float: right;
  background: #232528;
  margin: -58px 0 0 0;
  padding: 0 10px;
}

.marketing.line-above {
  border-top: 4px solid #F58A07;
  padding-top: 40px;

}
.footer {
  border-top: 4px solid #F58A07;
  padding-top: 10px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  /* color: #777; */
  /* border-top: 1px solid #e5e5e5; */
  border-top: 4px solid #F58A07;
  font-size: 14px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #e5e5e5; */
  border-bottom: none;
  background: transparent;
  min-height: 80vh;
  /* background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #d9deff 10px,
    #d9deff 16px
  );
  text-shadow: 1px 6px 6px #fff;
  text-shadow: 1px 6px 6px rgba(255,255,255,0.8);
  background-image: linear-gradient(to top right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-image: url('../images/wood-background.jpg');
  background-attachment: fixed;
  background-size: cover; */
  /* box-shadow: 0px -40px 40px -20px #fff inset; */
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron.header h1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Montserrat Subrayada', sans-serif;
  /* font-family: 'Libre Barcode 39 Text', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Ubuntu', sans-serif; */
  font-size: 4rem;
  /* text-transform: uppercase;
  letter-spacing: 0.1em; */
  /* font-weight: 600; */
}
@media screen and (min-width: 768px) {
  .jumbotron.header h1 {
    font-size: 7rem;
  }
}

/* Supporting marketing content */
.marketing {
  margin-top: 1rem;
  margin-bottom: 10rem;
}
.marketing p + h4 {
  margin-top: 28px;
}

.well {
  /* background-color: #ecec67; */
  /* border: 5px solid #949494;
  box-shadow: 0px 0px 5px 2px inset; */
  color: #111;
  transition: box-shadow 1s;
}
/* .well:hover {
  box-shadow: 0px 0px 5px 0px inset;
} */


.about-me .rounded-circle {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about-me .rounded-circle {
    shape-outside: circle(65% at 50% 50%) padding-box;
    margin-right: 2em;
    width: 20%;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .marketing {
    margin-top: 1rem;
    margin-bottom: 15rem;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  /* .jumbotron {
    border-bottom: 0;
  } */
}

blockquote {
  color: #909CC2;
  margin: 0;
  border: none;
  font-size: 36px;
}
blockquote cite {
  color: #084887;
}

#testimonial_slides {
  position: relative;
  padding: 0;
  /* width: 960px;
  height: 350px; */
}
#testimonial_slides li {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: transparent;
  text-align: center;
}
#testimonial_slides li.active {
  display: block;
  z-index: 3;
}

#technologies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}
#technologies .flex {
  display: flex;
}
#technologies img {
  display: block;
  width: 100%;
  max-width: 80%;
  margin: 0 auto 2rem;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  #technologies img {
    margin-bottom: 5rem;
  }
}
